@model FrontEnd.W.Models.GroupInvitations

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GroupInvitations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group.GroupId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GroupInvitationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
