@model IEnumerable<FrontEnd.API.Models.GroupInvitations>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FromUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FromUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accepted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.GroupId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GroupInvitationId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.GroupInvitationId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.GroupInvitationId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
